@font-face {
  font-family: "IKEASans-Heavy";
  src: url("https://db.onlinewebfonts.com/t/e3fd7647691baf93672e7b9e04eaef9f.eot");
  src: url("https://db.onlinewebfonts.com/t/e3fd7647691baf93672e7b9e04eaef9f.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/e3fd7647691baf93672e7b9e04eaef9f.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/e3fd7647691baf93672e7b9e04eaef9f.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/e3fd7647691baf93672e7b9e04eaef9f.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/e3fd7647691baf93672e7b9e04eaef9f.svg#IKEASans-Heavy")format("svg");
}