@font-face {
  font-family: IKEA Sans Heavy;
  font-display: auto;
  src: url("../fonts/ikea-sans-heavy.eot");
  src: url("../fonts/ikea-sans-heavy.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ikea-sans-heavy.woff") format("woff"),
       url("../fonts/ikea-sans-heavy.woff2") format("woff2"),
       url("../fonts/ikea-sans-heavy.ttf") format("truetype"),
       url("../fonts/ikea-sans-heavy.svg#IKEA Sans Heavy") format("svg");
}

@font-face {
  font-family: IKEA Sans Regular;
  font-display: auto;
  src: url("../fonts/ikea-sans-regular.eot");
  src: url("../fonts/ikea-sans-regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ikea-sans-regular.woff") format("woff"),
       url("../fonts/ikea-sans-regular.woff2") format("woff2"),
       url("../fonts/ikea-sans-regular.ttf") format("truetype"),
       url("../fonts/ikea-sans-regular.svg#IKEA Sans Regular") format("svg");
}