.button {
  height: 40px;
  font-family: "IKEA Sans Heavy";
  padding: 0 10%;
  text-transform: uppercase;
  font-weight: bold;
  background-color: @yellow;
  color: @black;
  border-radius: @size-7;

  &:hover {
    background-color: @white;
  }
}